@{
    ViewBag.Title = "Produção Daycoval";
}

<html>
<head>
    <title>Upload de produção Daycoval</title>
</head>
<body>
    <h2>PRODUÇÃO DAYCOVAL</h2>

    <p>Selecione o arquivo com a produção do Daycoval.</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="arquivo" name="arquivo"/> <br /><br /><br />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>