@{
    ViewBag.Title = "Produção Cetelem";
}
<html>
<head>
    <title>Upload de produção Cetelem</title>
</head>
<body>
    <h2>PRODUÇÃO CETELEM</h2>
    <p>Selecione o arquivo com a produção do Cetelem.</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="arquivo" name="arquivo" /> <br /><br /><br />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>