@{
    ViewBag.Title = "Produção Banrisul";
}
<html>
<head>
    <title>Upload de produção Banrisul</title>
</head>
<body>
    <h2>PRODUÇÃO BANRISUL</h2>
    <p>Selecione o arquivo com a produção do Banrisul.</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="arquivo" name="arquivo" /> <br /><br /><br />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>